@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	font-weight: 400
	overflow-x: hidden
	color: $text

*
	box-sizing: border-box

img
	max-width: 100%
	height: auto

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden 
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

.container
	max-width: 1230px
	padding:
		right: $gutter/2
		left: $gutter/2
	margin:
		left: auto
		right: auto  	

ul
	list-style: none
	margin: 0
	padding: 0

// Custom Sass / Remove before use

	

.img-responsive
	display: block
	max-width: 100%
	height: auto



.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)
